* {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
  height: 15vh;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

.main {
  display: flex;
  height: 75vh;
  padding: 0 30px;
  font-size: 1em;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyright {
  margin: 0 15px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
footer .copyright a {
  color: #444;
}
footer .copyright a:hover {
  color: #555;
}
footer .copyright:before {
  content: '©';
}

@media (max-width: 640px) {
  .main {
    padding: 0 10px;
  }

  header h1 {
    font-size: 35px;
  }
}
