@import '../../libs/normalize';

// Reset style

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: white
}

// Body

.body {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

// Header

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  min-height: 60px;
}

.logo {
  background-image: url(../../img/songbird.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 55px;
  display: flex;
  align-self: center;
}

.nav {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.nav__menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  cursor: pointer;
}

.nav__item:hover {
  color: #00bc8c;
}

.nav__link:hover {
  color: #00bc8c;
}

.nav__item:nth-child(2) {
  color: #00bc8c;
}

// Main

.main {
  min-height: 740px;
  margin-bottom: 20px;
}

.score {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
}

.quiz__lvl {
  grid-area: lvl;
  background-color: #008966;
  border-color: #007c5d;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.quiz__item {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.quiz__item:first-child {
  background-color: #00bc8c;
}

.quiz__question {
  grid-area: ques;
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  padding: 20px;
}

.quiz__img {
  border-radius: 10px;
  width: 200px;
  height: 178px;
}

.quiz__secret {
  font-size: 2rem;
  flex: auto;
  .title {
    border-bottom: 1px solid #555;
    text-align: center;
  }
}

.player {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.player-controls {
  display: flex;
  align-items: center;
}

.player-icon {
  min-width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url(../../img/play.svg);
  margin-right: 10px;
}

.pause {
  background-image: url(../../img/pause.svg);
}

.volume {
  background-image: url(../../img/volume.svg);
  margin-right: 10px;
}

.mute {
  background-image: url(../../img/mute.svg);
}

.volume-progress {
  width: 100%;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  margin-right: 20px;
}

.volume-controls {
  width: 20%;
  display: flex;
  align-items: center;
}

.play-progress {
  width: 100%;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

input {
  background: linear-gradient(to right, rgb(0, 188, 140) 50%, rgb(115, 115, 115) 1%, rgb(115, 115, 115) 100%);
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background: gray;
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
}

.play-timer {
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.quiz__options {
  grid-area: opt;
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.quiz__bird {
  flex: auto;
  border-bottom: 1px solid #555;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.quiz__bird:hover {
  background-color: #444;
}

.quiz__bird:last-child {
  border-bottom: 0;
}

.point {
  background-color: #666;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  transition: .1s;
}

.quiz__description {
  grid-area: desc;
  background-color: #303030;
  border-radius: 10px;
  padding: 20px;
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  color: white;
}

.quiz__btn {
  grid-area: btn;
  background-color: #303030;
}

.quiz {
  height: 95%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 2fr 3fr 0.4fr;
  grid-template-areas: 
    'lvl lvl'
    'ques ques'
    'opt desc'
    'btn btn';
    gap: 3%;
}

.quiz__congrat {
  margin: 0 auto;
  width: 100%;
  height: 60%;
  border-radius: 10px;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
  display: none;
}

.title-congrat {
  font-size: 50px;
  font-weight: 300;
}

.text {
  text-align: center;
}

.quiz__btn-new-game {
  margin-top: 50px;
  border: 0px;
  width: 80%;
  height: 60px;
  background-color: #00bc8c;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.quiz__btn-new-game:hover {
  background-color: #00efb2;
  transition: 0.5s;
}

.description {
  display: none;
}

.kind-container {
  display: flex;
  gap: 5%;
  margin-bottom: 20px;
}

.kind {
  flex: auto;
}

.kind__name,
.kind__name-eng {
  border-bottom: 1px solid #555;
  padding: 5px;
}

.kind__volume {
  width: 50%;
}

.kind__text {
  text-align: left;
}

// Footer

.footer__logo {
  width: 70%;
}

.footer__about {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  align-items: center;
}

// Адаптив

@media (max-width: 1280px) {
  .quiz {
    grid-template-rows: 0.7fr 1.5fr 3fr 0.4fr;
  }
  
  .nav__menu {
    width: 100%;
  }

  .footer__about {
    width: 100%;
    gap: 2%;
  }

  .kind-container {
    flex-direction: column;
  }

  .quiz__img_center {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .volume-controls {
    width: 50%;
  }
}

@media (max-width: 740px) {
  .main {
    height: auto;
  }

  .quiz {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.5fr 0.5fr 1fr 0.2fr;
    grid-template-areas: 
      'lvl'
      'ques'
      'opt' 
      'desc'
      'btn';
  }

  .nav__menu {
    flex-direction: column;
  }

  .nav__item {
    text-align: right;
    font-size: 14px;
  }

  .about__img {
    width: 20px;
    height: 20px;
  }

  .about__img-school {
    width: 40px;
    height: 40px;
  }

  .about__year {
    font-size: 14px;
  }

  .logo {
    background-position: center;
  }

  .title-congrat {
    font-size: 40px;
  }
}

@media (max-width: 540px) {

  .quiz {
    grid-template-rows: 0.3fr 0.5fr 0.5fr 1fr 0.2fr;
  }

  .title-congrat {
    font-size: 28px;
  }

  .quiz__congrat {
    height: 60vh;
  }
}

// .quiz__question,
// .quiz__options,
// .quiz__btn,
// .quiz__description {
//   display: none;
// }
// .quiz {
//   display: block;
// }
// .quiz__congrat {
//   display: flex;
// }


// .description {
//   display: block;
// }
// .quiz__instruction {
//   display: none;
// }