.sources {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: flex-start;
  font: 300 1em 'Fira Sans', sans-serif;
}

.search {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  color: #70d6ff;
}

.search__item {
  cursor: pointer;
}

.search__item:hover,
.search__item:focus {
  color: #69db7e;
  transform: scale(1.1);
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

::-webkit-scrollbar {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar {
  width: 10px;
}
