.sources {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  font: 300 1em 'Fira Sans', sans-serif;
}

.search {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  color: #70d6ff;
}

.search__item {
  cursor: pointer;
}

.search__item:hover,
.search__item:focus {
  color: #69db7e;
  transform: scale(1.1);
}

.source__item {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

::-webkit-scrollbar {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar {
  width: 10px;
}

@media (max-width: 1000px) {
  .sources {
    width: 200px;
    font-size: 0.8em;
  }

  .source__item {
    width: 120px;
    justify-content: center;
  }

  .source__item-name {
    text-align: center;
    white-space: normal;
  }
}

@media (max-width: 640px) {
  .sources {
    width: 80px;
    font-size: 0.6em;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  .source__item {
    width: 40px;
    padding: 0.5em 1em;
  }

  .search {
    width: 20px;
    font-size: 0.8em;
  }
}

@media (max-height: 500px) {
  .search {
    font-size: 0.8em;
  }
}
